kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ include "spring-boot.fullname" . }}
  labels:
    {{- include "spring-boot.labels" . | nindent 4 }}
  annotations:
    {{- include "spring-boot.annotations" . | nindent 4 }}
spec:
  to:
    kind: Service
    name: {{ include "spring-boot.fullname" . }}
    weight: 100
  host: ""
  port:
    targetPort: http
  wildcardPolicy: None
status:
  ingress:
    - host: ""